# MacOS-related files
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/

# dotenv
.env
.flaskenv

# sqlite
app.db

# other
presentation_notes.txt